
.nav-container{
    color: black;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 90%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    .logo-container{
        display: flex;
        flex-direction: row;

        img{
            width: 5rem;
            height: 5rem;
            /* margin-top: 1rem;
            margin-right: 0.5rem; */
        }
            
        h1{
            text-decoration: none;
            /* font-family: "Nerko One", cursive; */
            font-family: "Edu SA Beginner", cursive;
            font-optical-sizing: auto;
            font-style: normal;
            /* font-family: "Anton", sans-serif; */
            font-weight: 700;
            font-size: 3rem;
            /* text-shadow: 0.5px 0.5px 0 black; */
            margin: 0;
            margin-left: 1rem;
            
        }
    }
    
    .list-container{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 3rem;
        font-family: "Bebas Neue", sans-serif;
        margin: 0;

        li a{
            text-decoration: none;
            font-size: 1.5rem;
        }

    }

}

